* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.name {
    width: 100px;
    box-sizing: content-box;
    background-color: white;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piano-card {
    display: flex;
    border: 1px solid #000;
    border-radius: 8px;
    overflow: hidden;
}

.piano {
    width: 100px;
    height: 200px;
    border: none;
    background-color: #fff;
    border-bottom: 8px solid gray;
    cursor: pointer;
}

.piano:nth-child(even) {
    background-color: #000;
    color: #fff;
}

.piano:focus {
    border-bottom: none;
    box-shadow: none
}